
*.ini
terraform.exe
.terraform/*

network.7z
# terraform.tfvars
*.exe

# Terraform state information files. Not needed
terraform/.terraform/modules/modules.json
terraform/.terraform/plugins/windows_amd64/lock.json
*/terraform.tfstate
